body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    margin: 10px 0;
    color: #555;
}

.receipt-item {
    margin-bottom: 5px;
}

.total {
    font-weight: bold;
}

/* foto bonnetje */
body {
    background-image: url('receipt.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
